.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6579a0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(218, 171, 171);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  cursor:pointer;
  border-radius: 10px;
}

.product-img {
  object-fit: contain;
  display: flex;
  width: 100%;
  height: 200px;
  transform: scale(1.1);
  align-items: stretch;
}
body{
  background: linear-gradient(grey ,brown,green,red);
  background-repeat: no-repeat;
}

.button :hover{
background-color: blanchedalmond;
color: chocolate;
}
.cards{
opacity: 0.9;
transition: opacity,0.15s;
}

hr{
  color: brown;
  font-weight: 1200;
  opacity: 0.3;
  width: 90px;
}
hr:hover{
  opacity: 1;

}
.swipercarousel{
  display: flex;
  flex-direction: row;
}
.image{
  width:100%;
  height:300px;
  align-items: stretch;
 
}
.sign{
  background-color: chartreuse;
}

.product-img:hover {
  object-fit: contain;
  display: flex;
  width: 100%;
  height: 200px;
  transform: scale(1.1);
    align-items: stretch;
  }

  
